---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <!-- Home Post List -->
        {% for post in site.posts limit: 5 %}
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" class="text-dark text-decoration-none post-preview-link">
          <article class="post-preview my-3" style="clear: both; border: 1px solid #ddd; border-radius: 10px; padding: 15px;">
            <div class="row">
              <div class="col-md-4">
                <div class="article-image d-md-none" style="background-size: cover; background-repeat: no-repeat; background-image: url('{{ post.background | prepend: site.baseurl | replace: '//', '/' }}'); border-radius: 8px; height: 200px;"></div>
                <div class="article-image d-none d-md-block" style="width: 200px; height: 200px; background-size: cover; background-repeat: no-repeat; background-image: url('{{ post.background | prepend: site.baseurl | replace: '//', '/' }}'); border-radius: 8px;"></div>
              </div>
              <div class="col-md-8">
                <div class="article-content">
                  <h2 class="post-title">{{ post.title }}</h2>
                  {% if post.subtitle %}
                  <h4 class="post-subtitle text-muted">{{ post.subtitle }}</h4>
                  {% else %}
                  <h4 class="post-subtitle text-muted">{{ post.excerpt | strip_html | truncatewords: 15 }}</h4>
                  {% endif %}
                  <p class="post-meta">Posted by
                    {% if post.author %}
                    {{ post.author }}
                    {% else %}
                    {{ site.author }}
                    {% endif %}
                    on
                    {{ post.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=post.content %}
                  </p>
                </div>
              </div>
            </div>
          </article>
        </a>
        {% endfor %}

        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
